@use "../var.scss";

.main {
    background-color: var.$primary-color-tertiary;
}

.bgPattern {
    @include var.respond-to("mobile") {
        &::before {
            content: "";
            position: absolute;
            background-image: url("../../public/bg-pattern-circle.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 200vw;
            height: 200vw;
            top: -140vw;
            left: -49%;
        }
    }

    @include var.respond-to("tablet") {
        &::before {
            content: "";
            position: absolute;
            background-image: url("../../public/bg-pattern-circle.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 123.6vw;
            height: 123.6vw;
            top: -85vw;
            left: -11.8vw;
        }
    }

    @include var.respond-to("desktop") {
        &::before {
            content: "";
            position: absolute;
            background-image: url("../../public/bg-pattern-circle.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            top: -23.3%;
            left: 55%;
            width: 780px;
            height: 780px;
        }
    }
}

.partnerContainer {
    display: flex;
    height: 40%;
    background-color: var.$secondary-color-mirage;
    z-index: 3;
}

/* MOBILE */

.mainContainerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sloganContainerMobile {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin breakpoints {
    @media screen and (max-width: map-get(var.$breakpoints, mobile )) {
        .bgPattern {
            top: -80px;
        }
    }
    @media screen and (max-width: map-get(var.$breakpoints, tablet )) {
        .bgPattern {
            width: 780px;
            left: 50%;
            top: -20px;
            transform: translate(-50%, -50%);
        }
    }
    @media screen and (max-width: map-get(var.$breakpoints, desktop )) {
        .mainContainer {
            flex-direction: column;
            align-items: center;
        }

        .phoneContainer {
            display: flex;
            justify-content: center;
        }
    }
}