@use "../var.scss";

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    @include var.respond-to("mobile") {
        width: 100vw;
        height: 550px;
        flex-direction: column;
        margin: 4rem 0px 2rem;
    }

    @include var.respond-to("tablet") {
        margin: 5rem 0px 4rem;
    }

    @include var.respond-to("desktop") {
        width: 1015px;
        height: 560px;
        flex-direction: row;
        margin: 0 auto;
    }
}

.TextContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include var.respond-to("mobile") {
        width: 90%;
        text-align: center;
        padding-left: 0px;
        padding-top: 2rem;
    }

    @include var.respond-to("tablet") {
        width: 620px;
    }

    @include var.respond-to("desktop") {
        text-align: left;
        width: 100%;
        padding-left: 7rem;
        padding-top: 0px;
    }
}

.image {
    @include var.respond-to("mobile") {
        width: 325px;
    }

    @include var.respond-to("tablet") {
        width: auto;
    }

    @include var.respond-to("desktop") {
    }
}

.Title {
    font-family: var.$font-serif;
    font-weight: 500;
    color: var.$secondary-color-sanjuan;
    margin: 0;

    @include var.respond-to("mobile") {
        font-size: 2.2rem;
    }

    @include var.respond-to("tablet") {
        font-size: 3rem;
    }

    @include var.respond-to("desktop") {
        font-size: 3rem;
    }
}

.Text {
    color: var.$secondary-color-lightsanjuan;
    font-family: var.$font-public;
    line-height: 30px;
}
