@use "../var.scss";

.emailInputContainer {
    @include var.respond-to("mobile") {
    }

    @include var.respond-to("tablet") {
        max-width: 37rem;
        margin-left: 50px;
    }

    @include var.respond-to("desktop") {
        max-width: 30rem;
        margin-left: 0px;
    }
}

.form {
    display: flex;
    align-items: center;

    @include var.respond-to("mobile") {
        flex-direction: column;
    }

    @include var.respond-to("tablet") {
        flex-direction: row;
    }
}

.emailInput {
    border-radius: 25px;
    border: none;
    height: 48px;
    text-indent: 25px;
    color: var.$secondary-color-sanjuan;
    font-family: var.$font-public;
    font-size: 1rem;
    font-weight: 600;
    -webkit-box-shadow: 0px 6px 15px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 15px -2px rgba(0, 0, 0, 0.25);

    &:focus {
        outline: none;
        border: 2px solid var.$primary-color-main;
        color: var.$secondary-color-mirage;
    }

    @include var.respond-to("mobile") {
        width: 330px;
    }

    @include var.respond-to("tablet") {
        width: 440px;
    }
}

.button {
    background-color: var.$primary-color-main;
    color: white;
    border: none;
    border-radius: 25px;
    height: 48px;
    right: 50px;
    font-family: var.$font-public;
    font-size: 1rem;
    font-weight: 600;
    -webkit-box-shadow: 0px 6px 15px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 15px -2px rgba(0, 0, 0, 0.25);

    &:hover {
        cursor: pointer;
        background-color: var.$secondary-color-charmpink;
    }

    @include var.respond-to("mobile") {
        position: inherit;
        width: 330px;
        margin-top: 20px;
    }
    
    @include var.respond-to("tablet") {
        position: relative;
        width: 240px;
        margin-top: 0px
    }
}
