@use "../var.scss";

.partnersContainer {
    width: 100vw;
    background-color: var.$secondary-color-mirage;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    @include var.respond-to("mobile") {
        height: 680px;
    }

    @include var.respond-to("tablet") {
        height: 600px;
    }

    @include var.respond-to("desktop") {
        height: 400px;
    }
}

.subPartnersContainer {
    display: flex;
    margin: 0 auto;

    @include var.respond-to("mobile") {
        flex-direction: column-reverse;
        max-height: 640px;
        justify-content: center;
    }

    @include var.respond-to("tablet") {
        flex-direction: column-reverse;
        height: 550px;
    }

    @include var.respond-to("desktop") {
        width: 1015px;
        height: 400px;
        align-items: center;
        flex-direction: row;
    }
}

.partnersTitle {
    width: 458px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: var.$font-serif;
    margin-top: 3.5rem;
    h2 {
        margin: 0;
        font-weight: 500;

        @include var.respond-to("mobile") {
            font-size: 2rem;
        }

        @include var.respond-to("tablet") {
            font-size: 2.5rem;
        }

        @include var.respond-to("desktop") {
        }
    }

    @include var.respond-to("mobile") {
        align-items: center;
        margin: 1.6rem auto 0;
        text-align: center;
        max-width: 90vw;
    }

    @include var.respond-to("tablet") {
    }

    @include var.respond-to("desktop") {
        align-items: flex-start;
        text-align: left;
    }
}

.partnersText {
    color: white;
    font-family: var.$font-public;

    font-weight: 200;
    opacity: 65%;
    line-height: 30px;
    margin-bottom: 2rem;

    @include var.respond-to("mobile") {
        max-width: 90vw;
    }

    @include var.respond-to("tablet") {
        max-width: 500px;
    }

    @include var.respond-to("desktop") {
    }
}

.buttonAbout {
    width: 129px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-family: var.$font-public;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
        background-color: white;
        color: var.$secondary-color-mirage;
    }
}

.partnersLogosContainer {
    min-width: 485px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    @include var.respond-to("mobile") {
        max-width: 80vw;
        justify-content: center;
    }

    @include var.respond-to("tablet") {
        max-width: 600px;
        justify-content: center;
    }

    @include var.respond-to("desktop") {
    }
}

.partnersLogo {
    width: 180px;
    padding: 1.5rem;
}
