@use "../var.scss";

.bgPattern {
    position: relative;
}

.bgPattern::before {
    content: "";
    position: absolute;
    background-image: url("../../public/assets/bg-pattern-circle.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @include var.respond-to("mobile") {
        width: 95vw;
        flex-direction: column-reverse;
        padding-top: 0;
    }

    @include var.respond-to("tablet") {
    }

    @include var.respond-to("desktop") {
        width: 1160px;
        height: 560px;
        flex-direction: row;
        &::before {
            height: 780px;
            width: 780px;
            right: -56%;
            top: -12%;
        }
    }
}

.TextContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include var.respond-to("mobile") {
        width: 90vw;
        text-align: center;
    }

    @include var.respond-to("tablet") {
        width: 600px;
    }

    @include var.respond-to("desktop") {
        text-align: left;
        width: 500px;
    }
}

.Title {
    font-family: var.$font-serif;
    font-weight: 500;
    font-size: 3rem;
    color: var.$secondary-color-sanjuan;
    margin: 0;

    @include var.respond-to("mobile") {
        font-size: 2.2rem;
    }

    @include var.respond-to("tablet") {
        font-size: 3rem;
    }

    @include var.respond-to("desktop") {
        font-size: 3rem;
    }
}

.Text {
    color: var.$secondary-color-lightsanjuan;
    font-family: var.$font-public;
    line-height: 30px;
}

.imageContainer {
    @include var.respond-to("mobile") {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 1.2rem;
    }

    @include var.respond-to("tablet") {
        width: 50%;
    }

    @include var.respond-to("desktop") {
        width: 50%;
    }
}

.image {
    @include var.respond-to("mobile") {
        width: 90%;
    }

    @include var.respond-to("tablet") {
        width: 600px;
    }

    @include var.respond-to("desktop") {
        width: 90%;
        transform: translateX(14%);
    }
}
