@use "../var.scss";

.footerContainer {
    width: 100vw;
    background-color: var.$secondary-color-mirage;
    display: flex;
    justify-content: center;

    @include var.respond-to("mobile") {
        height: 270px;
    }

    @include var.respond-to("tablet") {
        height: 100px;
    }

    @include var.respond-to("desktop") {
    }
}

.mainContainer {
    width: 77vw;
    display: flex;
    justify-content: space-between;

    @include var.respond-to("mobile") {
        flex-direction: column;
    }

    @include var.respond-to("tablet") {
        flex-direction: row;
    }

    @include var.respond-to("desktop") {
    }
}

.leftContainer {
    display: flex;
    align-items: center;

    @include var.respond-to("mobile") {
        flex-direction: column;
        margin-top: 1rem;
    }

    @include var.respond-to("tablet") {
        flex-direction: row;
        margin-top: 0;
    }

    @include var.respond-to("desktop") {
    }
}

.navContainer {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        font-size: 1rem;
        font-weight: 600;
        color: var.$primary-color-secondary;
        opacity: 70%;

        @include var.respond-to("mobile") {
            margin: 1rem;
        }

        @include var.respond-to("tablet") {
            margin: 1.4rem;
        }

        @include var.respond-to("desktop") {
        }
    }

    li:hover {
        opacity: 100%;
        cursor: pointer;
    }

    @include var.respond-to("mobile") {
        flex-direction: column;
    }

    @include var.respond-to("tablet") {
        padding-left: 3rem;
        flex-direction: row;
    }

    @include var.respond-to("desktop") {
    }
}

.logo {
    width: 135px;
}

.socialsContainer {
    width: 200px;
    display: flex;
    align-items: center;

    @include var.respond-to("mobile") {
        margin: 0 auto;
        justify-content: center;
    }

    @include var.respond-to("tablet") {
        margin: 0;
        justify-content: baseline;
    }

    @include var.respond-to("desktop") {
    }
}

.socialLogo {
    padding: 0.8rem;
    fill: "green";

    &:hover {
        cursor: pointer;
    }
}

.svg {
    fill: white;
    &:hover {
        fill: var.$secondary-color-charmpink;
    }
}
