@use "../var.scss";

.main {
    background-color: var.$primary-color-tertiary;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.title {
    color: var.$secondary-color-sanjuan;
    text-align: center;
    font-family: var.$font-serif;
}

.plansContainer {
    display: flex;
    @include var.respond-to("mobile") {
        flex-direction: column;
    }
    
    @include var.respond-to("tablet") {
        flex-direction: row;
        margin: 0 auto;
        max-width: 900px;
    }
    
    @include var.respond-to("desktop") {
    }
}