@use "../var.scss";


/* BACKGROUND CIRCLE PATERNS */

.bgPattern {
    position: relative;
}

.bgPattern::before {
    content: "";
    position: absolute;
    background-image: url("../../public/assets/bg-pattern-circle.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
}

.main {
    min-height: calc(100vh - 100px);
    background-color: var.$primary-color-tertiary;

    @include var.respond-to("mobile") {
        &::before {
            width: 780px;
            height: 780px;
            top: -70%;
            left: 39%;
        }
    }

    @include var.respond-to("tablet") {
        &::before {
            width: 780px;
            height: 780px;
            top: -64%;
            left: 55%;
        }
    }

    @include var.respond-to("desktop") {
        &::before {
            top: -65%;
            left: 60%;
            width: 780px;
            height: 780px;
        }
    }
}

.footerSection {
    overflow: hidden;

    @include var.respond-to("mobile") {
        &::before {
            width: 200vw;
            height: 200vw;
            top: 45%;
            left: -49%;
        }
    }

    @include var.respond-to("tablet") {
        &::before {
            width: 123.6vw;
            height: 123.6vw;
            top: -130%;
            left: 50%;
        }
    }

    @include var.respond-to("desktop") {
        &::before {
            top: -76.2%;
            left: 70%;
            width: 780px;
            height: 780px;
        }
    }
}

.title {
    color: var.$secondary-color-sanjuan;
    text-align: center;
    font-family: var.$font-serif;
}

.plansContainer {
    display: flex;
    @include var.respond-to("mobile") {
        flex-direction: column;
    }
    
    @include var.respond-to("tablet") {
        flex-direction: row;
        margin: 0 auto;
        max-width: 900px;
    }
    
    @include var.respond-to("desktop") {
    }
}