@use "../var.scss";

.borderTop {
    box-shadow: inset 0 1px 0 0 #d5d5d5;
}

.borderBottom {
    box-shadow: inset 0 -1px 0 0 #d5d5d5;
}

.mainContainer {
    display: flex;

    @include var.respond-to("mobile") {
        align-items: center;
        flex-direction: column;
        width: 310px;
        margin: 0 auto;
    }

    @include var.respond-to("tablet") {
        flex-direction: row;
        width: 600px;
        box-shadow: none;
    }

    @include var.respond-to("desktop") {
        width: 1200px;
        margin-top: 4rem;
    }
}

.individualContainer {
    display: flex;
    @include var.respond-to("mobile") {
        height: 100px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 1rem;
    }

    @include var.respond-to("tablet") {
        min-width: 170px;
        height: 150px;
        box-shadow: none;
        border-top: solid 1px #d5d5d5;
        border-bottom: solid 1px #d5d5d5;
        margin-top: 0;
    }

    @include var.respond-to("desktop") {
        min-width: 280px;
    }
}


.statTitle {
    font-family: var.$font-public;
    color: var.$secondary-color-sanjuan;
    opacity: 70%;
    margin: 0;
    font-weight: 400;
}

.number {
    font-family: var.$font-serif;
    color: var.$primary-color-main;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
