@use "../var.scss";

.titleContainer {
    @include var.respond-to("mobile") {
    }

    @include var.respond-to("tablet") {
    }

    @include var.respond-to("desktop") {
        width: 1015px;
        margin: 0 auto;
    }
}

.title {
    color: var.$secondary-color-sanjuan;
    font-family: var.$font-serif;
    text-align: center;
    margin: 2rem auto;
    font-weight: 500;
    @include var.respond-to("mobile") {
        width: 327px;
    }

    @include var.respond-to("tablet") {
        width: 573px;
        font-size: 3.1rem;
    }

    @include var.respond-to("desktop") {
        margin: 4rem auto 4rem 0;
        text-align: left;
        line-height: 50px;
    }
}

.partnersTitle {
    color: var.$secondary-color-sanjuan;
    opacity: 75%;
    font-family: var.$font-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.5rem;

    @include var.respond-to("mobile") {
        width: 327px;
    }

    @include var.respond-to("tablet") {
        width: 445px;
    }

    @include var.respond-to("desktop") {
    }
}

.formPartnersContainer {
    display: flex;
    @include var.respond-to("mobile") {
        flex-direction: column;
    }

    @include var.respond-to("tablet") {
    }

    @include var.respond-to("desktop") {
        flex-direction: row;
        width: 1015px;
        margin: 0 auto;
    }
}

.partnersContainer {
    margin: auto;
}

