@use "../var.scss";

.titleContainer {
    @include var.respond-to("mobile") {
    }

    @include var.respond-to("tablet") {
    }

    @include var.respond-to("desktop") {
        width: 1015px;
        margin: 0 auto;
    }
}

.title {
    color: var.$secondary-color-sanjuan;
    font-family: var.$font-serif;
    text-align: center;
    margin: 2rem auto;
    font-weight: 500;
    @include var.respond-to("mobile") {
        width: 327px;
    }

    @include var.respond-to("tablet") {
        width: 573px;
        font-size: 3.1rem;
    }

    @include var.respond-to("desktop") {
        margin: 4rem auto 4rem 0;
        text-align: left;
        line-height: 50px;
    }
}

.partnersTitle {
    color: var.$secondary-color-sanjuan;
    opacity: 75%;
    font-family: var.$font-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.5rem;

    @include var.respond-to("mobile") {
        width: 327px;
    }

    @include var.respond-to("tablet") {
        width: 445px;
    }

    @include var.respond-to("desktop") {
    }
}

.formPartnersContainer {
    display: flex;
    @include var.respond-to("mobile") {
        flex-direction: column;
    }

    @include var.respond-to("tablet") {
    }

    @include var.respond-to("desktop") {
        flex-direction: row;
        width: 1015px;
        margin: 0 auto;
    }
}

.partnersContainer {
    margin: auto;
}




.promoted-input-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.promoted-checkbox {
    input:checked + label > svg {
        // Firefox doesn't render svg's that is loading with the use tag if its been set to display: none and then toggled to display: block, so you have to use tricks like this to get it to render again:
        height: 24px;
        animation: draw-checkbox ease-in-out 0.2s forwards;
    }

    label:active::after {
        background-color: #e6e6e6;
    }

    label {
        color: #0080d3;
        line-height: 40px;
        cursor: pointer;
        position: relative;
        &:after {
            content: "";
            height: 40px;
            width: 40px;
            margin-right: 1rem;
            float: left;
            border: 2px solid #0080d3;
            border-radius: 3px;
            transition: 0.15s all ease-out;
        }
    }
    svg {
        stroke: #0080d3;
        stroke-width: 2px;
        height: 0; //Firefox fix
        width: 24px;
        position: absolute;
        left: -48px;
        top: -4px;
        stroke-dasharray: 33; //Firefox fix
    }
}

@keyframes draw-checkbox {
    0% {
        stroke-dashoffset: 33;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
