@use "../var.scss";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include var.respond-to("mobile") {
        width: 330px;
    }

    @include var.respond-to("tablet") {
        width: 445px;
    }

    @include var.respond-to("desktop") {
    }
}

.input {
    border: none;
    border-bottom: 2px solid rgba(var.$secondary-color-sanjuan, 0.5);
    padding-left: 20px;
    padding-bottom: 1rem;
    color: var.$secondary-color-sanjuan;
    font-family: var.$font-public;
    outline: none;
    font-size: 1rem;
    margin: 1rem;
    &::placeholder {
        color: var.$secondary-color-sanjuan;
        font-family: var.$font-public;
        font-size: 1rem;
    }

    &:focus {
        border-bottom: 2px solid var.$secondary-color-sanjuan;
    }

    @include var.respond-to("mobile") {
        width: 327px;
    }

    @include var.respond-to("tablet") {
        width: 445px;
    }

    @include var.respond-to("desktop") {
    }
}

.inputMessage {
    padding-bottom: 4rem;
}

.checkboxContainer {
    display: flex;
}

.checkboxDescription {
    color: var.$secondary-color-sanjuan;
    font-family: var.$font-public;
    font-size: 0.9rem;
    line-height: 20px;
}

.submitButton {
    width: 152px;
    height: 48px;
    color: var.$secondary-color-sanjuan;
    background-color: transparent;
    border: 2px solid var.$secondary-color-sanjuan;
    border-radius: 25px;
    font-weight: 600;
    font-family: var.$font-public;
    font-size: 1.1rem;
    @include var.respond-to("mobile") {
        margin: 0 auto 5rem 10px;
    }

    @include var.respond-to("tablet") {
    }

    @include var.respond-to("desktop") {
        margin: 0 auto 0 10px;
    }

    &:hover {
        background-color: var.$secondary-color-sanjuan;
        color: white;
        cursor: pointer;
    }
}

.checkboxContainer input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #fff;
    border: 2px #ddd solid;
}

.checkboxActive {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px #ddd solid;
    border-color: var.$primary-color-main;
    background: var.$primary-color-main;
}
