@use 'var';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var.$font-public;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$primary-color-main: #ba4270;
$primary-color-secondary: #fbfcfe;

$secondary-color-sanjuan: #36536b;
$secondary-color-mirage: #1b262f;
$secondary-color-lightsanjuan: #6c8294;
$secondary-color-charmpink: #da6d97;
