@use "var";

.main {
    background-color: var.$primary-color-tertiary;
    height: 100vh;
    overflow: auto;
}

.bgPattern { // round pattern for Desktop
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 2;
}

.mainContainer {
  display: flex;
  height: calc(100vh - 96px);
  position: relative;
  z-index: 3;
}

.sloganContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slogan {
  max-width: 30rem;
  font-family: var.$font-serif;
  font-size: 4rem;
  color: var.$secondary-color-sanjuan;
  font-weight: 500;
}

.emailInputContainer {
  display: flex;
  max-width: 30rem;
}

.emailInput {
  border-radius: 20px;
  border: none;
  height: 48px;
  width: 400px;
  text-indent: 25px;
  color: var.$secondary-color-lightsanjuan;
}

.contactTextContainer {
  display: flex;
  width: 30rem;

  p {
    padding-right: 8px;
    color: var.$secondary-color-lightsanjuan;
  }
}

.phoneContainer {
  height: calc(100vh - 96px);
  z-index: 3;
  display: flex;
  align-items: center;
  img {
    height: 660px;
  }
}

@media screen and (max-width: 768px) { // round pattern for Tablet
    .bgPattern {
        width: 780px;
        left: 50%;
        top: -20px;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 540px) {  // round pattern for Mobile
  .bgPattern {
      top: -80px;
  }
}
