@use "var";

.navBarContainer {
    margin-left: 3rem;
    color: var.$secondary-color-lightsanjuan;
    font-weight: 700;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        padding: 1rem;
        list-style: none;
        font-family: var.$font-public;
    }
    li:hover {
        color: var.$secondary-color-sanjuan;
        cursor: pointer;
    }
}



.menuBackground {
    width: 80vw;
    height: 100vh;
    background-color: var.$secondary-color-mirage;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
    -webkit-animation: menuBackground 0.3s linear both;
    animation: menuBackground 0.3s linear both;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuIcon {
    cursor: pointer;
    z-index: 3;
}

@-webkit-keyframes menuBackground {
    0% {
        -webkit-transform: translateX(80vw);
        transform: translateX(80vw);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes menuBackground {
    0% {
        -webkit-transform: translateX(80vw);
        transform: translateX(80vw);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.menuBackgroundClose {
    -webkit-animation: menuBackgroundClose 0.3s linear both;
    animation: menuBackgroundClose 0.3s linear both;
}

.line {
    width: 80%;
    margin-top: 10rem;
    border: 1px solid #979797;
    opacity: 15%;
}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;


    li {
        font-size: 2rem;
        font-weight: 600;
        margin: 1.5rem;
        color: var.$primary-color-secondary;
        opacity: 70%;
    }

    li:hover {
        opacity: 100%;
        cursor: pointer;
    }
}

.scheduleButton {
    height: 48px;
    width: 252px;
    border-radius: 30px;
    font-weight: 600;
    background-color: var.$primary-color-main;
    color: white;
    border: none;
    right: 0;
    font-size: 0.9rem;
    margin: 0 auto;
}

.scheduleButton:hover {
    background-color: var.$secondary-color-charmpink;
    cursor: pointer;
}

@-webkit-keyframes menuBackgroundClose {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(80vw);
        transform: translateX(80vw);
    }
}
@keyframes menuBackgroundClose {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(80vw);
        transform: translateX(80vw);
    }
}
