@use "var";
@import "/styles/var.scss";

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @include respond-to("mobile") {
        flex-direction: column;
        margin-top: 2rem;
    }

    @include respond-to("tablet") {
    }

    @include respond-to("desktop") {
        flex-direction: row;
        height: 550px;
        width: 70vw;
        margin-top: 0;
        padding-top: 10rem;
    }
}

.individualContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-to("mobile") {
        max-width: 350px;
        margin-top: 2.3rem;
    }

    @include respond-to("tablet") {
        min-width: 300px;
        padding: 1rem;
    }

    @include respond-to("desktop") {
        height: 373px;
    }
}

.Title {
    font-family: var.$font-public;
    font-weight: 700;
    font-size: 1.1rem;
    color: var.$secondary-color-sanjuan;
    margin: 0;
    padding-top: 2rem;
}

.Text {
    color: var.$secondary-color-lightsanjuan;
    font-family: var.$font-public;
    line-height: 30px;
    text-align: center;

    @include respond-to("mobile") {
        height: auto;
    }

    @include respond-to("tablet") {
    }

    @include respond-to("desktop") {
        height: 150px;
    }
}

.image {
    width: 106px;
}
