@use "var";
@import "/styles/var.scss";

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    

    @include respond-to("mobile") {
        width: 95vw;
        flex-direction: column-reverse;
        padding-top: 0;
    }

    @include respond-to("tablet") {
    }

    @include respond-to("desktop") {
        width: 1160px;
        height: 445px;
        flex-direction: row;
        padding-top: 10rem;
    }
}

.TextContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond-to("mobile") {
        width: 90vw;
        text-align: center;
    }
    
    @include respond-to("tablet") {
        width: 600px;
    }
    
    @include respond-to("desktop") {
        text-align: left;
        width: 500px;
    }
}

.Title {
    font-family: var.$font-serif;
    font-weight: 500;
    font-size: 3rem;
    color: var.$secondary-color-sanjuan;
    margin: 0;
}

.Text {
    color: var.$secondary-color-lightsanjuan;
    font-family: var.$font-public;
    line-height: 30px;
}

.imageContainer {


    @include respond-to("mobile") {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 1.2rem;
    }
    
    @include respond-to("tablet") {
        width: 50%;
    }
    
    @include respond-to("desktop") {
        width: 50%;
    }
}

.image {

    @include respond-to("mobile") {
        width: 90%;
    }
    
    @include respond-to("tablet") {
        width: 600px;
    }
    
    @include respond-to("desktop") {
        width: auto;
    }

}
